﻿@model AddressBookApplication.Models.ContactPhoneNumber

@{
    ViewBag.Title = "Novi telefonski broj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novi telefonski broj</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contact.FirstName)
            </dt>

            <dd>
                @ViewBag.FirstName
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact.LastName)
            </dt>

            <dd>
                @ViewBag.LastName
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact.Title)
            </dt>

            <dd>
                @ViewBag.ContactTitle
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact.Company)
            </dt>

            <dd>
                @ViewBag.Company
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact.HomeAddress)
            </dt>

            <dd>
                @ViewBag.HomeAddress
            </dd>

        </dl>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberTypeId, "Vrsta telefonskog broja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhoneNumberTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumberTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Default, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Default)
                    @Html.ValidationMessageFor(model => model.Default, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na ažuriranje kontakta", "Edit", "Contacts", new { id = ViewBag.ContactId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
