﻿@model AddressBookApplication.Models.ContactPhoneNumber

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContactPhoneNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Default)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Default)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhoneNumberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
