﻿@model IEnumerable<AddressBookApplication.Models.ContactPhoneNumber>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Default)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Default)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhoneNumberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhoneNumberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhoneNumberId })
        </td>
    </tr>
}

</table>
