﻿@model IEnumerable<AddressBookApplication.Models.EMailType>

@{
    ViewBag.Title = "Vrste e-mail adresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vrste e-mail adresa</h2>

<p>
    @Html.ActionLink("Nova vrsta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
