﻿@model AddressBookApplication.Models.ContactGroup

@{
    ViewBag.Title = "Detalji grupe kontakata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji grupe kontakata</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <h4>Povezani kontakti</h4>

    <table class="table">
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.Contact)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Detalji", "Details", "Contacts", new { id = item.ContactId }, null)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.ContactGroupId }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
