﻿@model AddressBookApplication.Models.ContactGroup

@{
    ViewBag.Title = "Ažuriranje grupe kontakata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ažuriranje grupe kontakata</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContactGroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>

        <h4>Povezani kontakti</h4>

        <p>
            @Html.ActionLink("Dodaj kontakta u grupu", "AddContactToGroup", "ContactGroups", new { id = Model.ContactGroupId }, null)
        </p>
        <table class="table">
            <tr>
                <th>
                    Ime
                </th>
                <th>
                    Prezime
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.Contact)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Detalji", "Details", "Contacts", new { id = item.ContactId }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
