﻿@model IEnumerable<AddressBookApplication.Models.ContactGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupe kontakata</h2>

<p>
    @Html.ActionLink("Nova grupa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Ažuriraj", "Edit", new { id=item.ContactGroupId }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ContactGroupId })
        </td>
    </tr>
}

</table>
