﻿@model AddressBookApplication.Models.ContactEMail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContactEMail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Default)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Default)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMailType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMailType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
