﻿@model IEnumerable<AddressBookApplication.Models.ContactEMail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Default)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMailType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Default)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMailType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMailId })
        </td>
    </tr>
}

</table>
