﻿@model AddressBookApplication.ViewModels.AddGroupToContactViewModel

@{
    ViewBag.Title = "Dodavanje kontakta u grupu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodavanje kontakta u grupu</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />

        @Html.HiddenFor(model => model.ContactId)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HomeAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomeAddress)
            </dd>
        </dl>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactGroupId, "Grupa kontakata", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ContactGroupId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactGroupId, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na ažuriranje kontakta", "Edit", "Contacts", new { id = Model.ContactId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}