﻿@model AddressBookApplication.Models.Contact

@{
    ViewBag.Title = "Detalji kontakta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji kontakta</h2>

<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.ContactId }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>

    </dl>

    <h4>Telefonski brojevi</h4>

    <table class="table">
        <tr>
            <th>
                Vrsta
            </th>
            <th>
                Broj
            </th>
            <th>
                Zadano
            </th>
        </tr>

        @foreach (var item in Model.ContactPhoneNumber)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Default)
                </td>
            </tr>
        }
    </table>

    <h4>E-mail adrese</h4>

    <table class="table">
        <tr>
            <th>
                Vrsta
            </th>
            <th>
                Adresa
            </th>
            <th>
                Zadano
            </th>
        </tr>

        @foreach (var item in Model.ContactEMail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EMailType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Default)
                </td>
            </tr>
        }
    </table>

    <h4>Povezane grupe kontakata</h4>

    <table class="table">
        <tr>
    <th>
        Naziv
    </th>
    <th>
    </th>
</tr>

@foreach (var item in Model.ContactGroup)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Detalji", "Details", "ContactGroups", new { id = item.ContactGroupId }, null)
        </td>
    </tr>
}
    </table>
</div>
