﻿@model AddressBookApplication.Models.Contact

@{
    ViewBag.Title = "Ažuriranje kontakta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ažuriranje kontakta</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContactId)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>

        <h4>Telefonski brojevi</h4>

        <p>
            @if (Model.ContactPhoneNumber.Count < 6)
            {
                @Html.ActionLink("Novi telefonski broj", "Create", "ContactPhoneNumbers", new { contactId = Model.ContactId }, null)
            }
        </p>
        <table class="table">
            <tr>
                <th>
                    Vrsta
                </th>
                <th>
                    Broj
                </th>
                <th>
                    Zadano
                </th>
            </tr>

            @foreach (var item in Model.ContactPhoneNumber)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumberType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Default)
                    </td>
                </tr>
            }
        </table>

        <h4>E-mail adrese</h4>

        <p>
            @Html.ActionLink("Nova e-mail adresa", "Create", "ContactEMails", new { contactId = Model.ContactId }, null)
        </p>
        <table class="table">
            <tr>
                <th>
                    Vrsta
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Zadano
                </th>
            </tr>

            @foreach (var item in Model.ContactEMail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMailType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Default)
                    </td>
                </tr>
            }
        </table>

        <h4>Povezane grupe kontakata</h4>

        <p>
            @Html.ActionLink("Dodaj kontakta u grupu", "AddGroupToContact", "Contacts", new { id = Model.ContactId }, null)
        </p>
        <table class="table">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.ContactGroup)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Detalji", "Details", "ContactGroups", new { id = item.ContactGroupId }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
