﻿@model IEnumerable<AddressBookApplication.Models.Contact>

@{
    ViewBag.Title = "Kontakti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakti</h2>

<p>
    @Html.ActionLink("Novi kontakt", "CreateContactWithNumber")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeAddress)
        </td>
        <td>
            @Html.ActionLink("Ažuriraj", "Edit", new { id=item.ContactId }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ContactId }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
